[Unit]
Description=uWSGI instance to serve anonboard

[Service]
ExecStart=/bin/bash -c 'cd /usr/share/anonboard/deploy/; source env/bin/activate; uwsgi --ini uwsgi.ini'
ExecReload=/bin/kill -HUP $MAINPID
SuccessExitStatus=30
Restart=always
Type=forking
PIDFile=/tmp/uwsgi-anonboard.pid
NotifyAccess=all

[Install]
WantedBy=multi-user.target
