[Unit]
Description=uWSGI Emperor for serving anonboard
After=syslog.target

[Service]
ExecStart=/usr/bin/uwsgi --ini /usr/share/anonboard/tools/uwsgi/uwsgi.ini
RuntimeDirectory=uwsgi
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
