[Unit]
Description=uWSGI instance to serve anonboard
After=syslog.target

[Service]
ExecStart=/root/.pyenv/shims/uwsgi --ini /usr/share/anonboard/tools/uwsgi/anonboard.ini
ExecReload=/bin/kill -HUP $MAINPID
SuccessExitStatus=30
Restart=always
Type=forking
PIDFile=/tmp/anonboard.pid
NotifyAccess=all

[Install]
WantedBy=multi-user.target
